#container {
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrapper-header {
    position: relative;
    height: 190px;
}

.wrapper-header img {
    overflow: hidden;
}

.box-content-header {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
}

.box-header-title h1,
.box-header-title span {
    color: white;
    font-weight: bold;
}

.box-header-title h1 {
    margin: 0;
}

.box-header-title span {
    display: block;
}

.main {
    display: flex;
}

nav {
    background-color: gray;
    padding: 7px 0;
}

nav a:first-child {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

nav a:hover {
    color: black;
}

.title-left {
    font-size: 24px;
}

.content-left {
    width: 130%;
}

.content-l1 {
    display: flex;
    padding: 20px;
    border-right: 1px solid rgb(211, 209, 209);
}

.content-l1 .img-box {
    border: 1px solid rgb(211, 209, 209);
    padding: 3px;
}

.content-l1 .img-box img {
    width: 330px;
}

.content-l1 .box-main {
    padding: 10px 20px 0;
}

.content-l1 .box-main h3,
.content-l1 .box-main p {
    color: gray;
}

.content-l1 .box-main h3 {
    margin: 0;
}

.content-l1 .box-main span {
    color: rgb(246, 155, 170);
    font-weight: bold;
}


/* content-right */

.content-right {
    width: 300px;
}

.content-right {
    padding-right: 30px;
}

.content-right .content-r1,
.content-right .content-r2 h3 {
    color: rgb(246, 155, 170);
    font-weight: bold;
}

.content-right .content-r1 span {
    border-bottom: 1px solid rgb(211, 209, 209);
}

.content-right .content-r1 span,
.content-right .content-r2 span {
    display: block;
    padding: 4px 5px;
}

.content-right .content-r2 span {
    color: gray;
}

footer div {
    background-color: gray;
    padding: 10px;
    color: white;
}